<!DOCTYPE html>
<html>
	<head>
		<!-- Make site responsive on mobile/tablet -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>YelpCamp</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<script src=<%=process.env.FONTAWESOME%>></script>
		<script async defer src=<%=process.env.MAP%>></script>
	</head>
	<body>
		
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
			<a class="navbar-brand" href="/"><i class="fas fa-campground"></i> <span class="font-title">YelpCamp</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campgrounds" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
				</ul>
				
				<ul class="navbar-nav navbar-right">	
					
					<% if(!currentUser){ %>
						<li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login" class="nav-link"><i class="fas fa-sign-in-alt"></i> Login </a></li>
						<li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register" class="nav-link"><i class="fas fa-user-plus"></i> Sign Up</a></li>
					<% } else { %>
						<li class="nav-item"><a class="nav-link" href="/users/<%= currentUser.id %>"><i class="fas fa-user"></i> <%= currentUser.username %></a></li>
						<li class="nav-item"><a href="/logout" class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
					<% } %>
				</ul>
			</div>
		</nav>
		
		<!-- Handling alerts -->
		<div class="container">
			<% if(error && error.length > 0) { %> <!-- Length > 0 checks for empty array(which is always true) -->
				<div class="alert alert-danger" role="alert">
					<i class="fas fa-exclamation-triangle"></i> <%= error %>
				</div>
			<% } %>
			<% if(success && success.length > 0) { %> <!-- Length > 0 checks for empty array(which is always true) -->
				<div class="alert alert-success" role="alert">
					<i class="fas fa-check-circle"></i> <%= success %>
				</div>
			<% } %>
		</div>
		<div class="container">