<!-- include header -->
<% include ../partials/header %>

<div class="row text-center">
	<div class="col-12">
		<h1><strong><%= "Perfil de: " + user.username %></strong></h1>	
		<% if(user.avatar !== "") { %>
			<img src="<%= user.avatar %>" alt="Imagem do usuário" class="profile_img">
		<% } else { %>
			<img src="https://dummyimage.com/300x200/a1a1a1/ffffff&text=No+Avatar" alt="Usuário sem imagem" class="profile_img">
		<% } %>

		Email: <a href="mailto:<%= user.email %>"><%= user.email %></a>
	</div>
</div>

<hr>
	
<h3>Acampamentos cadastrados por <%= user.username %>:</h3>
<div class="row text-center justify-content-center">		
	<% campgrounds.forEach((campground) => { %>
		<div class="col-lg-3 col-md-4 col-sm-6 mb-4">			
			<div class="card">
				<!-- Check if there's a campground image -->
				<% if(campground.image !== "") { %>
					<img src="<%= campground.image %>" class="card-img-top landing-page" alt="<%= campground.image %>">
				<% } else { %>
					<img src="https://dummyimage.com/500x300/a1a1a1/ffffff&text=No+Image" class="card-img-top landing-page" alt="No image available for this campground">
				<% } %>

				<div class="card-body">
					<h5 class="card-title"><%= campground.name %></h5>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-dark">Ver mais <i class="fas fa-angle-right"></i></a>
				</div>
			</div>	
		</div>
	<% }) %>	
</div>

<!-- include footer -->
<% include ../partials/footer %>